
.manufacturing-consent-regular {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 200;
  font-style: normal;
}
* {
  font-family: "Manufacturing Consent";
  box-sizing: border-box;
}
main div, main section, .headline{
  padding: 5px;
  padding-left: 10px;
}
.grid-container {
  margin: -0.1px;
}
canvas {
  max-width: 100%;
}
.grid-container {
  display: grid;
  grid-template-rows:auto;
  grid-template-columns: 100%;
}
header {
  background-color: rgb(117, 117, 219);
  display: flex;
  color: white;
}
.headline {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
}
header p, header svg, header img {
  margin: 2%;
}
header p {
  font-size: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
}
header svg {
  scale: 0.8;
}
header h1 {
  margin-left: 3%;
  margin-right: auto;
}
.profile img {
 border-left: 1px solid gray;
}
header img,
.navimg {
  max-width: 35px;
}
nav {
  background-color: rgb(39, 39, 110);
   display: flex;
}
.navimg{
  margin: 15px;
  padding: 5px;
} 
#rightmostnav {
margin-right: auto;
}
#leftmostnav{
margin-left: auto;
}
.main-header {
  display: flex;
  flex-direction: row;
  height: 70px;
}
.tab {
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  flex-grow: 1;
}
header svg, .profileimg,
.social img {
  max-width: 60px;
  max-height: 60px;
}
#bell {
  border-right: 3px solid rgb(154, 154, 154);
 padding-right: 15px;
}
.social h3 {
  margin-bottom:-5px;
}
.number {
  font-size: 3rem;
  color:gray;
  margin-top:-5px;
}

.link {
  color: rgb(124, 124, 246);
}
.social, .list {
  display: flex;
}
ul li {
  margin: auto;
}
.newandactivity {
  text-align: center;
}
#messages {
  display: flex;
  flex-direction: column;
}
.profileimg{
  border-radius: 100%;
  border-left: 3px #9b9b9b;
}
.button-primary, .sendbutton {
  background-color: blue;
}
.sendbutton{
  margin-top: 8px;
}
.button-disabled {
  background-color: rgb(109, 109, 145);
  margin: auto;
}
.button-disabled, .button-primary {
  margin: auto;
}
button {
  border-radius: 10%;
  color: #ffffff;
  height: 40px;
}
select{
  width: 100%;
}
.settings-button {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center; 
  padding: 0;
}
#save, #cancel { 
  width: 100%;
}
#messagearea {
  height: 150px;
}
path {
  fill: rgb(255, 255, 255);
}
.social svg {
  max-width: 100px;
}
.socialcontent {
  margin-left: 10px;
}
.textalignleft {
  text-align: left;
}
.alert-banner {
  border-radius: 10%;
  background-color: blue;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin: 4%;
}
.alert-banner-close {
  margin-left: auto;
  margin-right: 5px;
}
.arrow {
  display: none;
}
.settingstoggles {
  display: flex;
  flex-direction: row;
}
.toggle {
  margin-left: auto;
  width: 70px;
  color: #ffffff;
  background-color: blue;
  border-radius: 10%;
  height: fit-content;
}
#bell:hover {
  transform: rotate(360000000000000000deg);
  transition: all 100s;
}
#bell circle {
  fill: rgb(0, 253, 46);
}
.greenindicatorneeded {
  color: #ffffff;
  background-color: rgb(0, 185, 3);
  border-radius: 30%;
  padding: 3px;
}
.newandactivity img {
  scale: 0.9;
}
.activityeach, .newmemberseach {
  margin:3px;
  width: 100%;
}
.switch-light {
  margin-top: auto;
  margin-bottom: auto;
}
#messages,
.activityeach, 
.newmemberseach,
.traffic, 
.socialoverall , 
#mobileusers, 
#dailytraffic {
    border-bottom: 1px solid rgb(164, 164, 164);
}
.social {
  border: 1px solid rgb(161, 161, 161) ;
  margin-bottom: 8px;
  margin-left: 8px;
  height: auto;
  background-color: #dcdcdc;
}
.surroundsocialimg {
  position: relative;
  border-radius: 100%;
  background-color: rgb(82, 102, 255);
  width: 55px;
  height: 55px;
  scale: 0.7;
}
.surroundsocialimg svg {
  position: absolute;
  scale: 0.8;
  left: 1px;
  bottom: 1px;
}
.number {
  margin-bottom: auto;
}
.inputshape {
  height: 40px;
  margin-bottom: 10px;
}
.toggle {
    -webkit-appearance: none;
  position: relative;
    width: 70px;
    height: 30px;
    border-radius: 25px;
    background-color: #ccc;
    transition: background .3s;
    outline: none;
    cursor: pointer;
}

.toggle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: rgb(255, 255, 255);
    transition: left .3s;
}

.toggle:checked {
    background-color: rgb(74, 92, 194);
}
.toggle:checked::after {
    left: 70%;
}

@media (min-width: 768px) {
  .newmemberseach {
    display: flex;
    flex-direction: row;
  }
 .traffich2andli {
  display: flex;
  flex-direction: row;
  }
  .traffich2andli ul {
    margin-left: auto;
  }
  .socialoverall {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(163, 163, 163);
  }
  .activityeach {
    display: flex;
    flex-direction:row ;
  }
  .date {
    margin-left: auto;
  }
  .dailytrafficandmobile {
    display: flex;
    flex-direction: row;
  }
  .grid {
    display: grid;
    grid-template-columns: 5% auto;
  }
  nav {
    flex-direction:column ;
    ;
  }
  .navimg {
    margin-top: 30px;
  }
  .arrow {
    display: flex;
    margin-left: auto;
    color: blue;
  }
  .dailytrafficandmobile > div {
  flex: 1 1 50%;
}
#mobileusers, #dailytraffic {
border: 1px solid rgb(163, 163, 163);
}
.social {
flex: 1 1 33.333%;
border: 1px solid rgb(161, 161, 161);
}
ul li {
  margin:20px;
}
.navimg{
  margin-left: auto;
  margin-right: auto;
}
main div, main section, .headline  {
  max-width: 100%;
}
.surroundsocialimg {
  width: 70px;
  height: 70px;
  margin-right:-15px ;
  margin-left:-15px ;
}
.surroundsocialimg svg {
 top: 2px ;
  left: 2px;
  scale: 0.5;
}
.social {
  height: 100px;
  width: 150px;
}
.socialcontent h3 {
  margin-top: auto;
}
.newandactivity {
  text-align: left;
}
.toggle {
  margin-right: 445px;
}
}
@media (min-width: 1024px) {
 .newandactivity {
    display: flex;
  }
  .messageandsettings {
    display: flex;
    flex-direction: row;
  }
  .settingsdivs, .settingstoggles {
    margin-top: 28px;
  }
  .newmembers, .recentactivity, .settings, #messages{
  width: 50%;
}
.newmembers, .recentactivity, #messages, .settings {
  border: 1px solid rgb(162, 162, 162);
}
#messagearea {
  height: 180px;
}
.messageandsettings {
  margin-top: -10px;
}
.newandactivity, .messageandsettings {
  margin-left: -10px;
  margin-right: -10px;
}
.recentactivity, .settings {
  border-right:none ;
}
.newmembers {
  display: flex;
  flex-direction: column;
}
.newmemberseach {
  flex-grow: 1;
}
#messages, .settings, .socialoverall, .messageandsettings, .traffic, #lastoflist, #lastoflist2 {
  border-bottom: none;
}
.toggle {
  margin-right: 210px;
}
.link {
  margin-bottom: -15px;
  margin-top: -15px;
}
}